<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Conexao</servlet-name>
        <servlet-class>Conexao.Conexao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadUser</servlet-name>
        <servlet-class>cadUser.cadUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Senha</servlet-name>
        <servlet-class>Senha.Senha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirCliente</servlet-name>
        <servlet-class>excluirUser.excluirUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarCliente</servlet-name>
        <servlet-class>editarCliente.editarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadGasto</servlet-name>
        <servlet-class>cadGasto.cadGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadTipo</servlet-name>
        <servlet-class>cadTipo.cadTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadMeta</servlet-name>
        <servlet-class>cadMeta.cadMeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarUser</servlet-name>
        <servlet-class>editarUser.editarUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarGasto</servlet-name>
        <servlet-class>listarGasto.listarGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirUser</servlet-name>
        <servlet-class>excluirUser.excluirUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadTrans</servlet-name>
        <servlet-class>cadTrans.cadTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transacao</servlet-name>
        <servlet-class>Model.Transacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria</servlet-name>
        <servlet-class>Model.Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTrans</servlet-name>
        <servlet-class>listarTrans.listarTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarTipo</servlet-name>
        <servlet-class>listarTipo.listarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarTrans</servlet-name>
        <servlet-class>editarTrans.editarTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarTipo</servlet-name>
        <servlet-class>editarTipo.editarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirTrans</servlet-name>
        <servlet-class>excluirTrans.excluirTrans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirTipo</servlet-name>
        <servlet-class>excluirTipo.excluirTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Meta</servlet-name>
        <servlet-class>Model.Meta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listarMeta</servlet-name>
        <servlet-class>listarMeta.listarMeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarMeta</servlet-name>
        <servlet-class>editarMeta.editarMeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>excluirMeta</servlet-name>
        <servlet-class>excluirMeta.excluirMeta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Java2Json</servlet-name>
        <servlet-class>Java2Json.Java2Json</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficoData</servlet-name>
        <servlet-class>GraficoData.GraficoData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Grafico_Info</servlet-name>
        <servlet-class>Model.Grafico_Info</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conexao</servlet-name>
        <url-pattern>/Conexao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadUser</servlet-name>
        <url-pattern>/cadUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Senha</servlet-name>
        <url-pattern>/Senha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirCliente</servlet-name>
        <url-pattern>/excluirCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarCliente</servlet-name>
        <url-pattern>/editarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadGasto</servlet-name>
        <url-pattern>/cadGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadTipo</servlet-name>
        <url-pattern>/cadTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadMeta</servlet-name>
        <url-pattern>/cadMeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarUser</servlet-name>
        <url-pattern>/editarUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarGasto</servlet-name>
        <url-pattern>/listarGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirUser</servlet-name>
        <url-pattern>/excluirUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadTrans</servlet-name>
        <url-pattern>/cadTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transacao</servlet-name>
        <url-pattern>/Transacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria</servlet-name>
        <url-pattern>/Categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTrans</servlet-name>
        <url-pattern>/listarTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarTipo</servlet-name>
        <url-pattern>/listarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarTrans</servlet-name>
        <url-pattern>/editarTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarTipo</servlet-name>
        <url-pattern>/editarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirTrans</servlet-name>
        <url-pattern>/excluirTrans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirTipo</servlet-name>
        <url-pattern>/excluirTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Meta</servlet-name>
        <url-pattern>/Meta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listarMeta</servlet-name>
        <url-pattern>/listarMeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarMeta</servlet-name>
        <url-pattern>/editarMeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>excluirMeta</servlet-name>
        <url-pattern>/excluirMeta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Java2Json</servlet-name>
        <url-pattern>/Java2Json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficoData</servlet-name>
        <url-pattern>/GraficoData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Grafico_Info</servlet-name>
        <url-pattern>/Grafico_Info</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
